@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}
html{
    scroll-behavior: smooth;
}
#inicio{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("img/img/fondo-inicio.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#inicio .contenido-header {
    background-color: rgba(0,0,0,.8);
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 0;
}
#inicio .contenido header{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#inicio .contenido header h1{
    text-align: center;
    color: darkcyan;
}
#inicio .contenido header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#inicio .contenido header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}
#inicio .contenido header nav ul a:hover{
    color: darkcyan;
}

#inicio .contenido header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}
#inicio .contenido header .redes a:hover{
    color: darkcyan;
}
#inicio .contenido header  .seleccionado {
    color: darkcyan;
}
#inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#inicio .contenido .presentacion .bienvenida{
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#inicio .contenido .presentacion h2{
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}
#inicio .contenido .presentacion h2 span{
    font-size: 34px;
    color: darkcyan;
}
#inicio .contenido .presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}
#inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
#inicio .contenido .presentacion a:hover{
    background-color: darkcyan;
}
#icono-nav {
    color: #fff;
    display: none;
}
/* SECCION SOBRE MI */
#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}
#sobremi .contenedor-foto{
    max-width: 400px;
    margin-right: 60px;
}
#sobremi .contenedor-foto img{
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}
#sobremi .sobremi{
    margin: 0 40px;
}
#sobremi .sobremi .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#sobremi .sobremi h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}
#sobremi .sobremi h2 span{
    color: darkcyan;
}
#sobremi .sobremi h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#sobremi .sobremi p{
    font-size: 18px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}
#sobremi .sobremi a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}
#sobremi .sobremi a:hover{
    background-color: darkcyan;
    color: #fff;
}
/*SECCION SKILLS */
#skills{
    background-color: darkcyan;
}
.contenedor-skills{
    background: linear-gradient( #f3f3f3, rgba(33, 16,16,.8)), url("img/img/fondo-skills.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    padding: 100px 0;
    text-align: center;
}
.contenedor-skills .skill{
    max-width: 600px;
    margin: 30px auto;
}
.contenedor-skills .skill .info{
    display: flex;
    justify-content: space-between;
}
.contenedor-skills .skill .lista{
    display: inline-block;
    margin-right: 20px;
    height: 25px;
    width: 25px;
}
.contenedor-skills .skill .barra{
    background-color: #919191;
    width: 100%;
    height: 5px;
    margin: 10px, 0;
}
/*estilo aplicado con javascript para la animación de la barra */
.contenedor-skills .skill .barra .barra-progreso1{
    background-color: #fff;
    width: 25%;
    height: 6px;
    animation: progreso1 2% forwards;
}
.contenedor-skills .skill .barra .barra-progreso2{
    background-color: #fff;
    width: 35%;
    height: 6px;
    animation: progreso2 2% forwards;
}
.contenedor-skills .skill .barra .barra-progreso3{
    background-color: #fff;
    width: 30%;
    height: 6px;
    animation: progreso3 2% forwards;
}
.contenedor-skills .skill .barra .barra-progreso4{
    background-color: #fff;
    width: 45%;
    height: 6px;
    animation: progreso4 2% forwards;
}
.contenedor-skills .skill .barra .barra-progreso5{
    background-color: #fff;
    width: 35%;
    height: 6px;
    animation: progreso4 2% forwards;
}
.contenedor-skills .skill .barra .barra-progreso6{
    background-color: #fff;
    width: 35%;
    height: 6px;
    animation: progreso4 2% forwards;
}
.contenedor-skills .skill .barra .barra-progreso7{
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso4 2% forwards;
}
.contenedor-skills .skill .barra .barra-progreso8{
    background-color: #fff;
    width: 55%;
    height: 6px;
    animation: progreso4 2% forwards;
}
.contenedor-skills .skill .barra .barra-progreso9{
    background-color: #fff;
    width: 75%;
    height: 6px;
    animation: progreso4 2% forwards;
}
.contenedor-skills .skill .barra .barra-progreso10{
    background-color: #fff;
    width: 75%;
    height: 6px;
    animation: progreso4 2% forwards;
}
.contenedor-skills .skill .barra .barra-progreso11{
    background-color: #fff;
    width: 35%;
    height: 6px;
    animation: progreso4 2% forwards;
}
.contenedor-skills .skill .barra .barra-progreso12{
    background-color: #fff;
    width: 35%;
    height: 6px;
    animation: progreso4 2% forwards;
}
.contenedor-skills .skill .barra .barra-progreso13{
    background-color: #fff;
    width: 35%;
    height: 6px;
    animation: progreso4 2% forwards;
}
/* animaciones de las barras*/
@keyframes progreso1 {
    0%
    { 
        width: 0;
    }
    100%
    { 
        width: 80%;
    }
}
@keyframes progreso2 {
    0%
    { 
        width: 0;
    }
    100%
    { 
        width: 75%;
    }
}
@keyframes progreso3 {
    0%
    { 
        width: 0;
    }
    100%
    { 
        width: 70%;
    }
}
@keyframes progreso4 {
    0%
    { 
        width: 0;
    }
    100%
    { 
        width: 45%;
    }
}
@keyframes progreso5 {
    0%
    { 
        width: 0;
    }
    100%
    { 
        width: 55%;
    }
}
/*SECCION PORTFOLIO*/
#portfolio{
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}
#portfolio .titulo-seccion{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#portfolio .fila{
    display: flex;
    margin: 30px 0;
}
#portfolio .fila .proyecto{
    max-width: 450px;
    border: 1px solid #000;
    margin: 10px 10px;
    position: relative;
    overflow: hidden;
}
#portfolio .fila .proyecto img{
    position: relative;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}
#portfolio .fila .proyecto:hover img{
filter: grayscale(0);
}
#portfolio .fila .proyecto .info{
    text-decoration: none;
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: darkcyan;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}
#portfolio .fila .proyecto:hover .info{
    opacity: 1;
    bottom: 0;
}
/*SECCION CONTACTO*/
#contacto {
    padding: 100px 15px;
}
#contacto .titulo-seccion{
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#contacto .contenedor-form{
    max-width: 1100px;
    margin: auto;
}
#contacto .contenedor-form .fila{
    margin-bottom: 15px;
}
#contacto .contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}
#contacto .contenedor-form .mitad input{
    width: 48%;
}
#contacto .contenedor-form .input-full{
    width: 100%;
}
#contacto .btn-enviar{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 18px;

}
#contacto .btn-enviar:hover{
    background-color: darkcyan;
    color: #fff;
}
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
/*SECCION RESPONSIVE*/
@media screen and (max-width: 800px){
    .redes{
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive{
        position: absolute;
        top: 40px;
        left: 0;
        padding: 10px;
    }
    nav.responsive ul{
        display: block;
        text-align: center;
    }
    nav.responsive ul li{
        margin: 5px 0;
    }
    #icono-nav{
        display: block;
    }
    #inicio .contenido .presentacion h2{
        font-size: 40px;
    }
    #sobremi{
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto{
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-foto img{
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion{
        text-align: center;
    }
    #sobremi .sobremi h2{
        font-size: 25px;
        text-align: center;
    }
    #skills{
        padding: 50px 0;
        display: block;
    }
    #portfolio{
        padding: 50px 0;
        display: block;
    }
    #portfolio .fila {
        display: block;
    }
    #portfolio .fila .proyecto {
        margin: 10px auto;
    }
    #contacto{
        padding: 50px 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
    footer{
        padding: 50px 0;
        display: block;
    }
}




